<div class="container container-fluid">
  <div class="row">
    <h3>Login</h3>
  </div>
  <form class="form-group" [formGroup]="loginForm">
    <label class="label">
      User Name
    </label>
    <input class="form-control" formControlName="username" placeholder="Enter Username..." type="text">
    <div *ngIf="loginForm.get('username').errors">
      <div class="alert alert-danger">
        This Filed Is Required
      </div>
    </div>
    <label class="label">Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div *ngIf="loginForm.get('password').errors">
      <div class="alert alert-danger">
          This Field Is Required
      </div>
    </div>
  </form>
  <button class="btn btn-success" [disabled]="loginForm.invalid" (click)="login()">Submit</button>
</div>
<footer style="text-align: center">
  <a routerLink="/register">Register</a>
</footer>
